  body {
    background-color: lightgrey;
  }
  
  h1 {
    color: blueviolet;
    text-align: center;
  }
  
  h2 {
      color: black; 
      text-align: center;
      text-decoration: underline;
  }
  
  h3{
    color: black;
    text-align: center;
    text-decoration: underline;
    margin: 55px;
  }

  h4{
    color: black;
    text-align: center;
  }
  h5{
    color: black;
    text-align: left;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    margin: 0;
    width: 200px;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  li {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 6mm;
    border-bottom: 1px solid #555;
  }
  
  p {
    font-family: 'Calibri'; 
    color: black;
    text-align: center;
    font-size: 7mm;
  }

  .Shoes{
    color: lightgreen;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-size: 35px;
  }
  
  button
  {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
  }

  .Button
  {
    background-color: lightgrey;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
  }
  .Button:active
  {
    background: blue;
  }

  .topnav{
    overflow: hidden;
    background-color: black;
  }

  .topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 18px;
    display: inline;
    text-decoration: none;
  }

  p  { font-size: 1.2em; }

       .stylen{
        position:relative;
      padding:0;
      width:370px;
      display:block;
      cursor:pointer;
      overflow:hidden;
       }

       .content{
        opacity:0;
      font-size: 40px;
      position:absolute;
      top:0;
      left:0;
      color:#3e96d1;
      background-color:rgba(200,200,200,0.5);
      width:370px;
      height:410px;
      -webkit-transition: all 400ms ease-out;
      -moz-transition: all 400ms ease-out;
      -o-transition: all 400ms ease-out;
      -ms-transition: all 400ms ease-out;
      transition: all 400ms ease-out;
      text-align:center;
       }

       .stylen .content:hover {opacity: 1;}
       .stylen .content .text{
         height: 0;
         opacity: 1;
         transition-delay: 0s;
         transition-duration: 0.4s;
       }

       .stylen .content:hover .text {
      opacity:1;
      transform: translateY(250px);
      -webkit-transform: translateY(250px);
       }

  * {
    box-sizing: border-box;
  }

.nikeShoe{
  background-color: white;
  border: lightgrey;
  width: 430px;
  font-size: 19px;
  text-align: center;
}

.imp150{
  float: left;
  text-align: center;
  font-size: 20px;
  padding: 8px;
}

.imp160{
  
  font-size: 20px;
  padding: 8px;
}

.imp170{
  padding-right: 35px;
  float: right;
  padding-bottom: 20px;
}
