  body {
    background-color: lightgrey;
  }
  
  h1 {
    color: blueviolet;
    text-align: center;
  }
  
  h2 {
      color: black; 
      text-align: center;
      text-decoration: underline;
  }
  
  h3{
    color: black;
    text-align: center;
    text-decoration: underline;
    margin: 55px;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    margin: 0;
    width: 200px;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  li {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 6mm;
    border-bottom: 1px solid #555;
  }
  
  p {
    font-family: 'Calibri'; 
    color: black;
    text-align: center;
    font-size: 7mm;
  }

  .Shoes{
    color: lightgreen;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-size: 35px;
  }
  
  button
  {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
  }

  .Button
  {
    background-color: lightgrey;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
  }
  .Button:active
  {
    background: blue;
  }

  .topnav{
    overflow: hidden;
    background-color: black;
  }

  .topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 18px;
    display: inline;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
