body {
  background-image: url(shoes.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;;
  }
  
  h1 {
    color: blueviolet;
    text-align: center;
  }
  
  h2 {
      color: blue; 
  }
  
  h3{
      color: black;
      text-align: center;
      border: 1px solid powderblue;
      margin: 50px;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    width: 200px;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid #555;
  }
  
  p {
    font-family: 'Calibri'; 
    color: black;
    text-align: center;
    font-size: 7mm;
  }

  .Shoes{
    color: green;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-size: 35px;
  }
